<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.hzq.mapper.CollectionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.hzq.entity.Collections">
        <result column="collection_id" property="collectionId" />
        <result column="goods_id" property="goodsId" />
        <result column="shop_id" property="shopId" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        collection_id, goods_id, shop_id, type, create_time, modify_time
    </sql>

</mapper>
